---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import FeaturedWork from '../components/FeaturedWork.astro';
---

<BaseLayout title="Spencer Pollock">
  <div class="container">
    <Hero />
    <FeaturedWork />
  </div>
</BaseLayout>